<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png" />
  <title>Cyber City Comics</title>


  <link rel="stylesheet" href="/css/styles.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:ital,wght@0,400;1,700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
