<%- include("header") -%>

<body>

  <div class="container">
    <div class="header">
      <a class="navbar-brand" href="/">
        
        <h3>Cyber City Comics</h3>
      </a>
    </div>

    <div class="content">

      <div class="image-wrapper">
        <img src="../404.jpg">
      </div>

      <div class="navigation-buttons">
        <a href="/"><button type="button">Home</button></a>
      </div>

    </div>

  </div>


</body>

<%- include("footer") -%>
